extends layout

block content
    form(method="post")
        input(type="text" placeholder="name" name="name")
        input(type="text" placeholder="first_name" name="first_name")
        input(type="text" placeholder="email" name="email")
        input(type="text" placeholder="password" name="password")
        button(type="submit") valider