#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 > .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_29 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F0AD4E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F0AD4E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F0AD4E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F0AD4E;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 109px;
  height: 28px;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}