@keyframes toto {
    0% {
        top: 0px; 
        left: 0px; 
        transform: rotate(0deg);
    }
    25% {
        top: 0px;
        left : calc(100% - 300px);
    }
    50%{
        top: calc(100% - 300px);
        left : calc(100% - 300px);
        /** Cercle **/
        border-radius: 50%;
    }
    75% {
        top: calc(100% - 300px);
        left : 0;
    }
    100% {
        top: 0px; 
        left: 0px; 
        transform: rotate(360deg);
    }
}

.shape {
    
    position: absolute;
    width: 300px;
    height : 300px; 
    background-color: red;
    animation: toto 2s linear infinite; 
    box-shadow: 2px 2px 0 #000;
}


* {
    outline: none;
}

/*input:focus {
border : 1px solid red;
}

a {
color : green; 
}

a:hover {
color : yellow;
}

a:visited {
color : purple;
}

a:active {
color : blue;
}*/ 

/*******

0 -> 600px => Bleu 
600px -> 900px => Vert 
>900px => Rstouge 

*******/




@media screen and (max-width: 600px)
{
    .shape {
        background-color: blue;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px)
{
    .shape {
        background-color: green;
    }
}

@media screen and (min-width: 900px)
{
    .shape {
        background-color: red;
    }
}


.shape:hover {
    background-color: black;
}

.rect { 
    position: absolute;
    width : 100px; 
    height: 300px; 
    background: black;
}

.rect.left {
    left: 0;
}
.rect.right {
    right: 0;
}