body {
    background-image: url('../img/drop-of-water-1728002_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color : red;
}

header a {
    color : aqua;
}

/** 
- image de fond  


**/ 



















