form(method='POST' id="subscribe" action='/sub')
    input(type="text" name="lastname" placeholder="Nom")
    input(type="text" name="firstname" placeholder="Prénom")
    input(type="email" name="email" placeholder="Adresse email")
    input(type="password" name="pass" placeholder="Mot de passe")
    input(type="text" name="phonenumber" placeholder="Téléphone")
    button(type="submit") S'inscrire