.round {
	width: 100px;
	height: 100px; 
	border : 3px solid orange;
	border-radius: 50%;
}

.cloud {
	width: 100px;
	height: 10px; 
	background: grey;
	border-radius: 50%;
	animation: move 2s infinite; 
}

@keyframes move {
	0%{
		margin-left : 0; 
	}
	50%{
		margin-left : 200px; 
		transform: rotateZ(180deg);
	}
	100% {
		margin-left: 0;
		transform: rotateX(180deg);
	}
}














