.carousel-inner img {
	margin: auto;
}

/* Retire la marge sous la navbar */
.navbar {
	margin-bottom: 0;
}

.glyphicon-star-empty, .glyphicon-star {
	font-size :50px; 
	color: yellow;
}

button.collapsed {
	background: purple;
}

/* décale l'ancre vers le haut dans le cas d'une fixed-navbar */
a.anchor {
	display: block;
	height: 50px; 
	margin-bottom: -50px;
	visibility: hidden;
}