.move {
    width: 200px; 
    height: 200px; 
    background: #ff00d8; 
    transition: all 2s ease ;
}

.move:hover {
    background: yellow;
}

.move1 {
    background: #0aff00; 
}

.move2 {
    position: absolute;
    background: #0909f7; 
    right: 10px; 
    top: 10px;
}

.move2:hover {
    right: 50px;
}

