body {
    background-image: url('http://www.w3schools.com/css/trolltunga.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
}

article {
    background: white;
    color: black;
    padding: 20px;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
}

table td .tata {
    background: red;
}

table td button {
    background: red;
}

table td button:hover {
    background: yellow;
}

table td button:active {
    background: green;
}



table td.tata {
    background: blue;
}

/*
table.t1 td{
    background: red;
}

table.t2 td{
    background: yellow;
}*/

h1#title {
    text-align: center; 
    color: lightgray; 
    font-size: 20px; 
    font-weight: bold;
}

nav {
    /*
    - Prend toute la largeur
    - Les éléments sont collés 
    - Fond de couleur rouge 


    */ 
}



/* FORM */ 

input[type="text"] {
    width: 150px;
    padding: 0;
}

input[type="text"]:active, input[type="text"]:focus {
    border : 2px solid blue;
}















