body {
    background-image: url('http://www.w3schools.com/css/trolltunga.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
}


article {
    margin-bottom: 5px;
    background: white;
    color: black;
    padding: 20px;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
}

table td .tata {
    background: red;
}

table td button {
    background: red;
}

table td button:hover {
    background: yellow;
}

table td button:active {
    background: green;
}



table td.tata {
    background: blue;
}

/*
table.t1 td{
background: red;
}

table.t2 td{
background: yellow;
}*/

h1#title {
    text-align: center; 
    color: lightgray; 
    font-size: 20px; 
    font-weight: bold;
}

nav {
    /*
    - Prend toute la largeur
    - Les éléments sont collés 
    - Fond de couleur rouge 


    */ 
}



/* FORM */ 

.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

input[type="text"] {
    width: 150px;
    padding: 0;
    border-radius: 3px;
    /* background: transparent; */
}

input[type="text"]:active, input[type="text"]:focus {
    border : 2px solid blue;
}

input[type="text"]:hover {
    border-color: lightblue;
}


nav {
    background: white;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav li a {
    color: yellow;
    text-decoration: none;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}

nav li {
    background: red;
    display: inline-block;
    width: 300px;
    height: 50px;
    transition: background 0.5s;
}

/*
nav li:last-child {
    float: right
}
*/

nav li:hover {
    background: green;
}


nav li:active {
    background: purple;
}












