body {
    background-image: url('http://www.w3schools.com/css/trolltunga.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
}

article {
    background: white;
    color: black;
    padding: 20px;
    /*padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;*/
}


h1#title {
    text-align: center; 
    color: lightgray; 
    font-size: 20px; 
    font-weight: bold;
}

nav {
    /*
    - Prend toute la largeur
    - Les éléments sont collés 
    - Fond de couleur rouge 


    */ 
}