body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 200px; 
	height: 100%;
	transform-style: preserve-3d;
	animation: turn 2s infinite;
}


@keyframes turn {
    0% {
        transform: rotateY(0deg);
    }  
    45% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.mario {
	position: absolute;
	bottom: 150px;
	width: 10px;
	height: 10px;
	box-shadow: 90px 0px #f00c1f, 100px 0px #f00c1f, 110px 0px #f00c1f, 120px 0px #f00c1f, 130px 0px #f00c1f, 80px 10px #f00c1f, 140px 10px #f00c1f, 150px 10px #f00c1f, 160px 10px #f00c1f, 90px 10px #f00c1f, 100px 10px #f00c1f, 120px 10px #f00c1f, 130px 10px #f00c1f, 110px 10px #f00c1f, 80px 20px #333030, 90px 20px #333030, 100px 20px #333030, 90px 30px #333030, 90px 40px #333030, 100px 40px #333030, 70px 30px #333030, 70px 40px #333030, 70px 50px #333030, 80px 50px #333030, 130px 20px #333030, 130px 30px #333030, 140px 40px #333030, 130px 50px #333030, 140px 50px #333030, 150px 50px #333030, 160px 50px #333030, 80px 30px #ffa200, 80px 40px #ffa200, 100px 30px #ffa200, 110px 20px #ffa200, 120px 20px #ffa200, 120px 30px #ffa200, 110px 30px #ffa200, 110px 40px #ffa200, 120px 40px #ffa200, 130px 40px #ffa200, 140px 20px #ffa200, 140px 30px #ffa200, 150px 30px #ffa200, 160px 30px #ffa200, 150px 40px #ffa200, 160px 40px #ffa200, 170px 40px #ffa200, 150px 60px #ffa200, 140px 60px #ffa200, 130px 60px #ffa200, 120px 60px #ffa200, 100px 60px #ffa200, 90px 60px #ffa200, 110px 60px #ffa200, 110px 50px #ffa200, 100px 50px #ffa200, 90px 50px #ffa200, 120px 50px #ffa200, 100px 70px #f00c1f, 100px 80px #f00c1f, 100px 90px #f00c1f, 110px 90px #f00c1f, 120px 90px #f00c1f, 130px 90px #f00c1f, 130px 80px #f00c1f, 140px 100px #f00c1f, 120px 100px #f00c1f, 110px 100px #f00c1f, 90px 100px #f00c1f, 90px 110px #f00c1f, 90px 120px #f00c1f, 90px 130px #f00c1f, 80px 130px #f00c1f, 80px 120px #f00c1f, 100px 110px #f00c1f, 100px 130px #f00c1f, 100px 120px #f00c1f, 110px 120px #f00c1f, 120px 120px #f00c1f, 130px 130px #f00c1f, 140px 130px #f00c1f, 150px 130px #f00c1f, 150px 120px #f00c1f, 140px 120px #f00c1f, 130px 120px #f00c1f, 140px 110px #f00c1f, 130px 110px #f00c1f, 120px 110px #f00c1f, 110px 110px #f00c1f, 130px 140px #383838, 140px 140px #383838, 150px 140px #383838, 130px 150px #383838, 140px 150px #383838, 150px 150px #383838, 160px 150px #383838, 100px 140px #383838, 90px 140px #383838, 80px 140px #383838, 70px 150px #383838, 80px 150px #383838, 90px 150px #383838, 100px 150px #383838, 90px 90px #3a0cf0, 80px 90px #3a0cf0, 80px 100px #3a0cf0, 70px 90px #3a0cf0, 60px 90px #3a0cf0, 70px 80px #3a0cf0, 80px 70px #3a0cf0, 90px 70px #3a0cf0, 90px 80px #3a0cf0, 80px 80px #3a0cf0, 110px 70px #3a0cf0, 110px 80px #3a0cf0, 120px 80px #3a0cf0, 120px 70px #3a0cf0, 130px 70px #3a0cf0, 150px 100px #3a0cf0, 160px 90px #3a0cf0, 170px 90px #3a0cf0, 150px 90px #3a0cf0, 140px 90px #3a0cf0, 140px 80px #3a0cf0, 150px 80px #3a0cf0, 160px 80px #3a0cf0, 150px 110px #d6911a, 160px 120px #d6911a, 170px 120px #d6911a, 170px 110px #d6911a, 170px 100px #d6911a, 160px 110px #d6911a, 160px 100px #d6911a, 100px 100px #f0ca0c, 130px 100px #f0ca0c, 80px 110px #d6911a, 70px 110px #d6911a, 70px 100px #d6911a, 60px 100px #d6911a, 60px 110px #d6911a, 60px 120px #d6911a, 70px 120px #d6911a;
}

.mario1 {
    transform: translateZ(1px);
}

.mario2 {
    transform: translateZ(2px);
}

.mario3 {
    transform: translateZ(3px);
}

.mario4 {
    transform: translateZ(4px);
}

.mario5 {
    transform: translateZ(5px);
}

.mario6 {
    transform: translateZ(6px);
}

.mario7 {
    transform: translateZ(7px);
}

.mario8 {
    transform: translateZ(8px);
}

.mario9 {
    transform: translateZ(9px);
}

.mario10 {
    transform: translateZ(10px);
}




