body {
	font-family: 'Roboto Condensed', sans-serif;
	background: url("../images/4%20Karl%20Marc.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

p {
	color: purple; 
	font-family: 'Engagement', cursive;
	font-size: 60px;
}

#content {
	width: 300px;
	margin: auto;
	background: url("http://www.pension-chez-vagabond.com/gifs/reglement_chien.jpg") no-repeat center center fixed orange;
	background-size: cover;
}

.carousel-inner img{
	margin:auto;
}